.modal {
    background-color: #D9D9D9B8;
}

.modal-content {
    background-color: #04395E !important;
    border: none;
    border-radius: 20px !important;
    box-shadow: 1px 1px 9px 0px #434343;
}

.title {
    color: white !important;
    font-size: 40px !important;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5% !important;
    margin-top: 5% !important;
}

.pollcontrol{
    padding: 2% !important;
    background-color: #FFFFFF7D !important;
    border-top: 9px solid #FF1F66 !important;
    color: white !important; 
    margin-bottom: 2%;
}

.formpoll {
    margin: 3% 5%;
    color: white !important;
    font-size: 26px;
}

.formpoll input[type="radio"] {
    width: 21px;
    height: 21px; 
    margin-right: 2%;
  }

.pollcontrol::placeholder {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white !important;
}

.modalbutton{
    display: flex;
    justify-content: right;
}
.closebut{
    position: absolute;
}
.closebut:hover{
    cursor: pointer;
}
.modal-backdrop {
    background-color: transparent;
}

.center{
    display: flex;
    justify-content: center;
}
.createPollbutton {
    margin: 1% 0 5% 0;
    background-color: white !important;
    color:#04395E !important;
    font-size: 24px !important;
    font-weight: 600 !important;
    line-height: 29px !important;
    padding: 1.5% 7% !important;
    border-radius: 5px !important;
}
